* {
    box-sizing: border-box;
    margin: 0;
    /* border: red 1px solid; */
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.app {
    width: 1280px;
}

@media (max-width: 1280px) {
    .app {
        width: 100%;
    }

    .topic-nav {
        padding: 0 10px;
    }
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    padding: 10px 20px;
}

.header__logo, .header__main-nav {
    flex-basis: 40%;
}

.header__auth {
    flex-basis: 20%;
}

.logo {
    cursor: pointer;
}


@media (max-width: 756px) {
    header {
        padding: 10px;
    }

    .header__logo {
        flex-basis: 15%;
    }

    .header__main-nav {
        flex-basis: 25%;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    height: 700px;
}

.topic-nav {
    flex-basis: 10%;
    
    & nav {
        display: flex;
        flex-direction: column;

        & button {
            margin: 0 3px 7px 0;
        }
    }
}

.content {
    display: flex;
    justify-content: center;
    flex-basis: 75%;
}

img {
    object-fit: cover;
    object-position: bottom;
}

.load-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1%;
    flex-basis: 15%;
}