* {
    box-sizing: border-box;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.app {
    width: 1280px;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    padding: 10px 20px;
    border-bottom: solid 1px;
}

.header__main-nav {
    flex-basis: 30%;
}

.header__auth {
    width: 18vw;
}

main {
    display: flex;
    margin-top: 25px;
    height: 700px;
}

.topic-nav {
    width: 10%;
    
    & nav {
        display: flex;
        flex-direction: column;

        & button {
            margin: 0 3px 7px 0;
        }
    }
}

.content {
    display: flex;
    justify-content: center;
    width: 75%;
}

.load-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1%;
    width: 15%;
}